#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=20s

# Load devenv shell (devenv.nix / devenv.yaml)
eval "$(devenv direnvrc)"
use devenv

# Extend the environment with per-user overrides
source_env_if_exists .envrc.local
